{% extends '/layout.html.twig' %}

{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">

        <h1 style="color:#{{ category.color }};">Categorie {{ category.name }}</h1>

    </div>


{% endblock %}