{% extends 'layout.html.twig' %}

{% block content %}
    </div>
    <div>
    <h1>Your profile informations</h1>
    <p>
        <a href="{{ path('profile') }}">return to profile ?</a>
    </p>

    {{ form(form) }}

{% endblock content %}