{% extends '/layout.html.twig' %}

{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1 style="color:#{{ post.category.color }};">{{ post.title }}</h1>
        <p>{{ post.content }}</p>

        <h2>CAtegorie</h2>
        <a href="{{ path("category",{id: post.category.id}) }}">{{ post.category.name }}</a>

        <h2>Tags</h2>
        <ul>
            {% for tag in post.tags %}
            {{ tag.name }}
            {% endfor %}
        </ul>

        <hr>

        {% if is_granted("ROLE_ADMIN") %}
            <div class="row">
                <a href="{{ path('editBlogPost',{id: post.id}) }}" class="btn btn-sm btn-primary mr-4">edit</a>
                <a href="{{ path('removeBlogPost', {id: post.id}) }}" class="btn btn-sm btn-danger">remove</a>

            </div>
        {% endif %}

    </div>
    </div>


    {% include '/includes/form.html.twig' %}
{% endblock %}