{% extends '/layout.html.twig' %}

{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">

        <h1>TAG {{ tag.name }}</h1>
        {% include '/includes/postList.html.twig' %}
    </div>


{% endblock %}