{% extends '/layout.html.twig' %}

{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">



    <!-- Home Post List -->
    <article class="post-preview">
        {{ form(form) }}


        {#Le champ collection est géré en JS dans /public/vendor/script.js#}
    </article>
</div>

    <script>



    </script>
{% endblock %}