{% for post in posts %}
    <article class="post-preview">
        <a href="{{ path('blogPost',{id: post.id}) }}">
            <h2 class="post-title">{{ post.title }}</h2>

        </a>
        <p class="post-meta">Posted by
            {{ post.author }}

            on
            {{ post.date | date('Y-m-d') }} &middot;
        </p>
        <ul class="list-unstyled">
            {% for tag in post.tags %}
                <li class="badge badge-light"><a href="{{ path('tag', {id: tag.id}) }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

    </article>

    <hr>
{% endfor %}
<div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>