{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta name="description" content="A Blog Theme by Start Bootstrap">

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}

{% block body %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/startbootstrap-clean-blog-jekyll/">Clean Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/startbootstrap-clean-blog-jekyll/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/startbootstrap-clean-blog-jekyll/contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a class="nav-link dropdown-toggle" id="user" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello {{ app.user.username }}</a>

                        <div class="dropdown-menu" aria-labelledby="user">
                            <a class="dropdown-item" href="{{ path("profile") }}">Profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}">Logout</a>
                        </div>

                    {% else %}
                        <a class="nav-link" href="{{ path('security_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Header -->

<header class="masthead" style="background-image: url('/startbootstrap-clean-blog-jekyll/img/bg-index.jpg')">

    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Clean Blog</h1>

                    <span class="subheading">A Blog Theme by Start Bootstrap</span>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</div>


<!-- Footer -->

<hr>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">

                    <li class="list-inline-item">
                        <a href="mailto:your-email@example.com">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>


                    <li class="list-inline-item">
                        <a href="https://twitter.com/SBootstrap">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>


                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/StartBootstrap">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>



                    <li class="list-inline-item">
                        <a href="https://github.com/BlackrockDigital">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>

                </ul>
                <p class="copyright text-muted">Copyright &copy; Start Bootstrap 2019</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="/startbootstrap-clean-blog-jekyll/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js"></script>

    <script src="/assets/scripts.js"></script>
{% endblock %}




